/*Salto para iconos*/
@keyframes moveTopAndBack {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.animate-top:hover {
  animation: moveTopAndBack 0.5s ease-in-out;
}

/*Animacion para texto*/
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInLeft 1s ease-out forwards;
}

.slide-in-right {
  animation: slideInRight 1s ease-out forwards;
}

/*Animacion para servicios*/
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hidden {
  opacity: 0;
}

.animate {
  animation: slideIn 0.5s ease-out;
  opacity: 1;
}

/*Animacion para imagenes escala 10%*/
.service-image {
  transition: transform 0.3s ease;
}

.service-image:hover {
  transform: scale(1.1);
}

/*Animacion para logos de motores*/
@keyframes moveUpDown {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.image {
  /* Estado inicial antes de la animación */
  transform: translateY(10px);
  transition: transform 0.5s ease-in-out;
}

.image-animate {
  animation: moveUpDown 3s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.image-1 {
  animation-delay: 0s;
}

.image-2 {
  animation-delay: 0.5s;
}

.image-3 {
  animation-delay: 1s;
}

.image-4 {
  animation-delay: 1.5s;
}
